@use '../Docs/Docs.module.scss' as d;

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);

    & > aside {
        @include d.aside;

        & > h1 {
            margin-top: 115px;
            cursor: default;
            user-select: none;
        }

        & > h1::after {
            content: '';
            position: relative;
            display: block;
            top: 10px;
            left: -10%;
            width: 120%;
            height: 3px;
            border-radius: 10px;
            background-color: rgb(255, 251, 251);
            color: rgb(255, 255, 255);
        }

        & > .navlink {
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            margin: 0;
            border: 0;
            font-size: 18px;
            width: 100%;
            height: 10.1vh;
            background-color: transparent;
            text-decoration: none;
            user-select: none;
            color: white;
            transition: all .15s ease-in-out;
        }

        & > .navlink:hover {
            background-color: rgb(75, 75, 75);
        }
    }

    & > aside:hover {
        width: 20%;
    }

    & > .practice__block {
        position: relative;
        top: 10vh;
        left: 7%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: right;
        width: 80%;
        margin: 0;
    }
}

@include d.aside_animation;

@media (width < 1250px) {
    .main__practice > aside > .navlink {
        font-size: 14px !important;
    }
    .main__practice h1 {
        font-size: 16px !important;
    }
}